/* Estilização da Seção Dados do Casamento */
#casamento {
    padding: 60px 20px;
    background-color: #f6cccd;
    text-align: center;
}

.sectionTitle {
    font-size: 36px;
    color: #c54b50;
    margin-bottom: 40px;
    font-family: 'Poppins', sans-serif;
}

.casamentoWrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
}

/* Estilização das Informações da Cerimônia */
.ceremonyInfo {
    width: 48%; /* Largura da seção de informações */
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
    color: #555555;
}

.ceremonyInfo h2, .ceremonyInfo h3 {
    color: #c54b50;
    margin-bottom: 20px;
}

.ceremonyInfo p, .ceremonyInfo ul {
    margin-bottom: 20px;
    line-height: 1.6;
}

.ceremonyInfo ul li {
    margin-bottom: 10px;
}

.ceremonyInfo a {
    color: #c54b50;
    text-decoration: underline;
}

.ceremonyInfo a:hover {
    color: #d8737f;
}

/* Estilização do Mapa */
.mapaContainer {
    width: 48%; /* Largura do mapa */
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background-color: #ffffff;
}

.mapaContainer iframe {
    width: 100%;
    border-radius: 10px;
}

.containerIlustracaoNoivos {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
}

.containerIlustracaoNoivos img {
    width: 20%;
}

/* Responsividade */
@media (max-width: 768px) {
    .casamentoWrapper {
        flex-direction: column;
    }

    .ceremonyInfo,
    .mapaContainer {
        width: 100%;
        margin-bottom: 20px;
    }

    .ceremonyInfo {
        padding: 20px;
    }

    .mapaContainer {
        padding: 20px;
    }

    .sectionTitle {
        font-size: 28px;
    }
}
