:root {
    --rosa-claro: #F6CCCD;
    --roxo-vibrante: #9955BA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, input, button {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

body {
    position: relative;
    height: 100vh;
    margin: 0;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('/assets/img/noivos_ilustracao.png');
    background-position:  calc(100% + 50%) calc(100% + 50%);;
    background-repeat: no-repeat;
    background-size: 90%; /* Ajuste conforme necessário */
    opacity: 0.1; /* Controle a opacidade aqui */
    z-index: -1; /* Coloca a imagem atrás do conteúdo */
}

#home, #noivos {
    height: 100vh;
}

.sectionTitle {
    font-size: 2em;
    text-align: center;
    font-family: "Press Start 2P", system-ui;
    margin-top: 2em;
    margin-bottom: 2em;
}

.menuLogoWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: var(--rosa-claro);
}

.menuLogoWrapper img {
    height: 50px;
    margin-left: 1.5em;
}

.menuWrapper {
    background-color: var(--rosa-claro);
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: var(--rosa-claro);
    width: 100%;
}

nav ul li {
    list-style: none;
    font-weight: light;
    text-transform: uppercase;
}

nav ul li a {
    text-decoration: none;
    color: #C54B50;
    font-family: "Poppins", sans-serif;
}

nav a {
    position: relative;
    display: inline-block;
    color: #C54B50; /* Cor dos links */
    text-decoration: none;
    padding: 5px 0;
    font-family: 'Montserrat', sans-serif;
    transition: color 0.3s ease;
    border-bottom: 2px solid transparent; /* Inicialmente invisível */
}

nav a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: #C54B50; /* Cor da linha */
    transition: width 0.4s ease, left 0.4s ease;
}

nav a:hover::before {
    width: 100%; /* Expande a linha para 100% */
    left: 0; /* Muda a posição da linha para cobrir todo o link */
}

nav a:hover {
    color: #8a4345; /* Cor dos links no hover */
}

.countdown {
    text-align: center;
}
.countdown h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}
.time {
    font-size: 2em;
    font-family: "Silkscreen", sans-serif;
}

.imgCountdown {
    border-radius: 10px;
    width: 33em;
    height: auto;
    margin: 50px 0;
}

.photo-frame {
    border-radius: 15px; /* Bordas arredondadas */
    overflow: hidden; /* Garante que a imagem fique dentro dos cantos arredondados */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), /* Sombra suave */
                0 6px 6px rgba(0, 0, 0, 0.1); /* Sombra secundária */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.photo-frame:hover {
    transform: scale(1.05); /* Leve aumento de tamanho ao passar o mouse */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15), /* Sombra mais pronunciada */
                0 8px 8px rgba(0, 0, 0, 0.15); /* Sombra secundária mais escura */
}


.countdownContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
}

.countdown-container {
    text-align: center;
    color: #333;
}

.countdown-clock {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.time-segment {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 80px;
}

.time-number {
    font-size: 2.5em;
    font-weight: bold;
    color: #9d54bd; /* Cor roxa */
    display: block;
}

.time-label {
    font-size: 1em;
    color: #666;
    margin-top: 5px;
}

#countdownMessage {
    margin-top: 20px;
    font-size: 1.5em;
    color: #9d54bd; /* Cor roxa */
}