/* Estilização da Seção Sobre os Noivos */
#noivos {
    padding: 60px 20px;
    background-color: #c54b50;
    text-align: center;
}

/* Título da seção */
.sectionTitleClear {
    font-size: 36px;
    color: #ffffff;
    margin-bottom: 40px;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
}

/* Contêiner principal para alinhar o carrossel e o testimonial card */
.noivosContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}

.noivosConteudoContainer {
    display: flex;
}

.imageCarousel {
    width: 70%;
    border-radius: 20px;
}

/* Estilização do Depoimento */
.testimonial-card {
    width: 30%;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    font-family: 'Poppins', sans-serif;
    color: #555555;
    text-align: left;
}

/* Estilização do conteúdo do Depoimento */
.testimonial-card p {
    margin-bottom: 20px;
    line-height: 1.6;
}

.testimonial-card .author {
    display: block;
    margin-top: 20px;
    font-size: 14px;
    color: #c54b50;
    text-align: right;
    font-weight: bold;
}

/* Responsividade */
@media (max-width: 1024px) {
    .noivosContainer {
        flex-direction: column;
        align-items: center;
    }

    .testimonial-card {
        width: 100%;
        margin-top: 20px;
    }

    .sectionTitleClear {
        font-size: 28px;
    }
}
