/* Estilos gerais da seção */
#rspv {
    position: relative; /* Necessário para posicionar a imagem */
    padding: 50px 20px;
    background-color: #c54b50; /* Cor de fundo suave */
    text-align: center;
    overflow: hidden; /* Garante que a imagem não ultrapasse os limites da seção */
}

#rspv::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60%; /* Ajuste conforme necessário */
    height: 60%; /* Ajuste conforme necessário */
    background-image: url('/assets/img/noivos_ilustracao.png'); /* Substitua pelo caminho da sua imagem */
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1; /* Define a opacidade da imagem */
    transform: translateY(20%); /* Mover a imagem para cima, de forma que apenas a parte superior fique visível */
    transform: translateX(20%); /* Mover a imagem para cima, de forma que apenas a parte superior fique visível */
}

/* Estilização do container do formulário */
.rspvContainer {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilização do formulário */
.rsvp-form {
    display: flex;
    flex-direction: column;
}

.rsvp-form label {
    font-size: 16px;
    color: #555;
    margin-bottom: 8px;
    font-family: 'Poppins', sans-serif;
}

.rsvp-form input,
.rsvp-form select,
.rsvp-form textarea {
    padding: 12px 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
    font-family: 'Poppins', sans-serif;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Efeitos de hover e focus */
.rsvp-form input:hover,
.rsvp-form select:hover,
.rsvp-form textarea:hover {
    border-color: #c54b50;
}

.rsvp-form input:focus,
.rsvp-form select:focus,
.rsvp-form textarea:focus {
    border-color: #c54b50;
    box-shadow: 0 0 5px rgba(197, 75, 80, 0.5);
    outline: none;
}

/* Estilização do container de confirmação */
.confirmacaoContainer {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.confirmacaoWrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Estilização do botão */
.rsvp-form button {
    padding: 15px;
    background-color: #c54b50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.rsvp-form button:hover {
    background-color: #e88386;
    transform: translateY(-3px);
}

.rsvp-form button:active {
    background-color: #a33a3f;
    transform: translateY(0);
}

textarea {
    resize: none;
}

/* Responsividade */
@media (max-width: 768px) {
    .confirmacaoContainer {
        flex-direction: column;
    }
}
